*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

.navbar{
    background-color: #b7c2cd;  
}

.navbar-brand img{
    width: 30%;
    height: auto;
}

.navbar-toggler{
    color: #2b2b2b;
    border-color: #2b2b2b;
    position: absolute;
    right: 1rem;
}

.navbar-collapse{
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
    width: 100%;
    background-color: #b7c2cd;
    z-index: 1;
}
.navbar-nav .nav-link{
    color: #2b2b2b;
    font-weight: 700;
    
}

.btn{
    background-color: #5a6ebc;
    color: white;
    font-weight: 600;
    line-height: auto;
    margin-top: 0.2rem;
    align-items: center;
}

.btn:active, .btn:hover{
    background-color:  #5a6ebc;
    color: rgb(1, 1, 1);
}


.about-hero {
  height: 60vh;
  background: url('https://images.unsplash.com/photo-1590490360182-c33d57733427') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
}

.about-hero .hero-text {
  position: relative;
  text-align: center;
  color: white;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero-text p {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* SECTION TITLE */
.section-title {
  font-weight: 700;
  color: #1A73E8;
}

/* MISSION & VISION */
.mission-vision {
  background: #f6f9ff;
}

.mv-box {
  border-radius: 12px;
  background: white;
}

.mv-icon {
  font-size: 40px;
  color: #1A73E8;
  margin-bottom: 10px;
}

/* WHY CHOOSE US */
.icon-box {
  border-radius: 12px;
  background: white;
}

.icon-box i {
  font-size: 32px;
  color: #1A73E8;
}

/* FULL WIDTH IMAGE */
.full-img img {
  width: 80%;
  height: 400px;
  object-fit: cover;
  margin: auto;
    display: block;
    

}


.foot{
    background-color: #b7c2cd;
    display: flex;
    gap: 8%;
    
}

.foot .li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.foot .li h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #2b2b2b;
    
}

.li p{
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 500;
    color: #333333;
}

.foot .qu,.con,.soc{
    margin-top: 1%;
}

.qu h4,.con h4,.soc h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #2b2b2b;
}

.qu a{
    text-decoration: none;
    color: #333333;
    font-size: 1rem;
    font-weight: 500;
}

.con p{
    color: #333333;
    font-size: 1rem;
    text-align: center;
    font-weight: 550;
}

.foot1{
    background-color: #b7c2cd;
    text-align: center;
    color: rgb(0, 0, 0);
}

.soc p{
    text-align: center;
    
}
.soc a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.8rem;
}
.ter h5{
    
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #2b2b2b;
}

.ter a{
    text-decoration: none;
    color: #333333;
    font-size: 1rem;
    font-weight: 500;

}

.copy{
    background-color: #b7c2cd;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.copy p{
    margin: 0;
}


@media (max-width: 768px) {


    /* Footer responsive */
    .foot {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        padding: 1.5rem 0;
    }
}