body {
  background: #F5F7FA;
  font-family: "Poppins", sans-serif;
}


.navbar{
    background-color: #b7c2cd;  
}
.navbar-brand img{
    width: 30%;
    height: auto;
}

.navbar-collapse{
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
    width: 100%;
    background-color: #b7c2cd;
    z-index: 1;
}
.navbar-nav .nav-link{
    color: #2b2b2b;
    font-weight: 600;
    
}

.page-title {
  font-weight: 700;
  color: #1A73E8;
}

.add-room-box {
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  border: 1px solid rgba(0,0,0,0.05);
}

.add-room-box label {
  font-size: 15px;
}

input, select, textarea {
  border-radius: 8px;
  padding: 10px;
}

.btn-primary {
  background: #1A73E8;
  border: none;
  border-radius: 8px;
}

.btn-primary:hover {
  background: #0F5FCC;
}

input[type="file"] {
  padding: 6px !important;
  background: #fff;
}

.add-room-box:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}
