 *{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

body{
    background-image: url(Images/hotels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
       }
 .login-box{
        max-width: 80vh;
        margin: 80px auto;
        background: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.08);
        }
     .btn-primary {
        background-color: #1A73E8;
        border-color: #1A73E8;
        }
        .btn-primary:hover {
            background-color: #0F5FCC;
            border-color: #0F5FCC;
        }
.navbar{
    background-color: #b7c2cd;  
}

.navbar-brand img{
    width: 30%;
    height: auto;
}

.navbar-toggler{
    color: #2b2b2b;
    border-color: #2b2b2b;
    position: absolute;
    right: 1rem;
}

.navbar-collapse{
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
    width: 100%;
    background-color: #b7c2cd;
    z-index: 1;
}
.navbar-nav .nav-link{
    color: #2b2b2b;
    font-weight: 700;
    
}

.btn{
    background-color: #5a6ebc;
    color: white;
    font-weight: 600;
    line-height: auto;
    margin-top: 0.2rem;
    align-items: center;
}

.btn:active, .btn:hover{
    background-color:  #5a6ebc;
    color: rgb(1, 1, 1);
}


.abu{
    width: 100vw;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.abu img{
    width: 20vw;
}
.au h1,.os h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #5a6ebc;
    text-transform: uppercase;
    
}

.au p,.os p{
    font-size: 1.2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
    color: #333333;
    font-weight: 500;
    border-radius: 0.5%;
}

.au ul{
    text-align: center;
}






.foot{
    background-color: #b7c2cd;
    display: flex;
    gap: 8%;
}

.foot .li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.foot .li h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #2b2b2b;
    
}

.li p{
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 500;
    color: #333333;
}

.foot .qu,.con,.soc{
    margin-top: 1%;
}

.qu h4,.con h4,.soc h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #2b2b2b;
}

.qu a{
    text-decoration: none;
    color: #333333;
    font-size: 1rem;
    font-weight: 500;
}

.con p{
    color: #333333;
    font-size: 1rem;
    text-align: center;
    font-weight: 550;
}

.foot1{
    background-color: #b7c2cd;
    text-align: center;
    color: rgb(0, 0, 0);
}

.soc p{
    text-align: center;
    
}
.soc a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.8rem;
}
.ter h5{
    
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #2b2b2b;
}

.ter a{
    text-decoration: none;
    color: #333333;
    font-size: 1rem;
    font-weight: 500;

}

.copy{
    background-color: #b7c2cd;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.copy p{
    margin: 0;
}

  .foot {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
