body {
  background: #F5F7FA;
  font-family: "Poppins", sans-serif;
}

/* PAGE TITLE */
.page-title {
  font-weight: 700;
  color: #1A73E8;
}

/* PROFILE CARD */
.profile-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.profile-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #e5e7eb;
}

/* INFO CARD */
.info-card,
.password-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* SECTION TITLE */
.section-title {
  font-weight: 700;
}

.navbar{
    background-color: #b7c2cd;  
}
.navbar-brand img{
    width: 30%;
    height: auto;
}

.navbar-collapse{
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
    width: 100%;
    background-color: #b7c2cd;
    z-index: 1;
}
.navbar-nav .nav-link{
    color: #2b2b2b;
    font-weight: 600;
    
}

/* INPUT STYLE */
.form-control {
  border-radius: 8px;
  padding: 10px;
}

/* BUTTONS */
.btn-primary {
  background: #1A73E8;
  border: none;
  border-radius: 8px;
}

.btn-primary:hover {
  background: #0F5FCC;
}

.btn-dark {
  background: #1f2937;
  border-radius: 8px;
}

.btn-dark:hover {
  background: #111827;
}
