body {
  background: #F5F7FA;
}

.admin-banner {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  filter: brightness(65%);
}

.banner-text {
  position: absolute;
  bottom: 20px;
  left: 25px;
  color: white;
}

.banner-text h2 {
  font-weight: 700;
}

.navbar{
    background-color: #b7c2cd;  
}
.navbar-brand img{
    width: 30%;
    height: auto;
}

.navbar-toggler{
    color: #2b2b2b;
    border-color: #2b2b2b;
    position: absolute;
    right: 1rem;
} 

.navbar-collapse{
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
    width: 100%;
    background-color: #b7c2cd;
    z-index: 1;
}
.navbar-nav .nav-link{
    color: #2b2b2b;
    font-weight: 600;
    
}

.card-box {
  background: white;
  height: 100%;
  padding: 25px 0;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card-box:hover {
  transform: translateY(-6px);
}

.card-icon {
  font-size: 35px;
  margin-bottom: 10px;
  color: #1A73E8;
}

.booking-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: .3s;
}

.booking-card:hover {
  transform: translateY(-6px);
}

.booking-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.booking-card .details {
  padding: 15px;
}

.booking-card .details h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

/* STATUS LABELS */
.status {
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}

.status.confirmed {
  background: #d1fae5;
  color: #047857;
}

.status.pending {
  background: #fef3c7;
  color: #b45309;
}

.status.cancelled {
  background: #fee2e2;
  color: #dc2626;
}
