body {
  background: #F5F7FA;
  font-family: "Poppins", sans-serif;
}


.navbar{
    background-color: #b7c2cd;  
}
.navbar-brand img{
    width: 30%;
    height: auto;
}

.navbar-collapse{
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
    width: 100%;
    background-color: #b7c2cd;
    z-index: 1;
}
.navbar-nav .nav-link{
    color: #2b2b2b;
    font-weight: 600;
    
}

.page-title {
  font-weight: 700;
  color: #1A73E8;
}

/* CARD BOX */
.room-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.25s;
}

.room-card:hover {
  transform: translateY(-6px);
}

/* ROOM IMAGE */
.room-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* INFO AREA */
.room-info {
  padding: 16px;
}

.room-info h5 {
  font-weight: 700;
  margin-bottom: 6px;
}

.price {
  color: #1A73E8;
  font-weight: 600;
  margin-bottom: 6px;
}

.details-text {
  font-size: 14px;
  color: #606F7B;
}

/* BUTTON BOX */
.btn-box {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

/* EDIT BUTTON */
.btn-edit {
  background: #1A73E8;
  color: white;
  border-radius: 8px;
  width: 50%;
  font-weight: 500;
}

.btn-edit:hover {
  background: #0F5FCC;
}

/* DELETE BUTTON */
.btn-delete {
  background: #E63946;
  color: white;
  border-radius: 8px;
  width: 50%;
  font-weight: 500;
}

.btn-delete:hover {
  background: #C52533;
}