body {
  background: #F5F7FA;
  font-family: "Poppins", sans-serif;
}

.navbar{
    background-color: #b7c2cd;  
}
.navbar-brand img{
    width: 30%;
    height: auto;
}

.navbar-collapse{
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
    width: 100%;
    background-color: #b7c2cd;
    z-index: 1;
}
.navbar-nav .nav-link{
    color: #2b2b2b;
    font-weight: 600;
    
}

.page-title {
  font-weight: 700;
  color: #1A73E8;
}

/* BOOKING CARD */
.booking-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: .3s ease;
}

.booking-card:hover {
  transform: translateY(-6px);
}

.booking-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

/* INFO SECTION */
.booking-info {
  padding: 16px;
}

.booking-info h5 {
  font-weight: 700;
}

.room-type {
  color: #475569;
  font-weight: 500;
  margin-bottom: 10px;
}

.date-box p {
  margin: 2px 0;
}

.guests {
  font-size: 14px;
  color: #64748b;
}

/* STATUS TAGS */
.status {
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}

.status.confirmed {
  background: #d1fae5;
  color: #047857;
}

.status.pending {
  background: #fef3c7;
  color: #b45309;
}

.status.cancelled {
  background: #fee2e2;
  color: #dc2626;
}

/* BUTTONS */
.btn-box {
  display: flex;
  gap: 8px;
  margin-top: 14px;
}

.btn-edit {
  background: #1A73E8;
  color: white;
  border-radius: 8px;
  width: 50%;
}

.btn-edit:hover {
  background: #0F5FCC;
}

.btn-delete {
  background: #E63946;
  color: white;
  border-radius: 8px;
  width: 50%;
}

.btn-delete:hover {
  background: #C52533;
}
